### osx ###

.DS_Store

### Idea IDE ###


dependency-reduced-pom.xml
.idea/
target/
*.class
*.log
*.iml
*.ipr
*.iws
.idea
out


### vscode ###

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.metals
.metals/



# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/